/* CSS declarations go here */

.center-pane {
	top: 0px;
	left: 0px;
	position: relative;
}

.center-pane-out{
	top: 0px;
	left: 351px;
	position: relative;
}

.left-pane {
	top: 0px;
	visibility: hidden;
	position: absolute;
}

.left-pane-button {
   top: 0px;
   left: 0px;
   width: 10px;
   height: 1000px;
   background: gray;
   visibility: visible;
   position: absolute;
   z-index: 10;
}

.left-pane-out {
	top: 0px;
	width: 350px;
   height: 1000px;
	visibility: visible;
	position: absolute;
   overflow-y: scroll;
}

#dragArea {
	height: 1000px;
}

.drag {
   position: absolute;
   border: 1px solid #89B;
   background: #BCE;
   height: 30px;
   width: 130px;
   cursor: move;
   top: -65px;
   left: 0px;
   line-height: 30px;
   text-align: center;
   }
.drop {
   position: absolute;
   width: 291px;
   height: 299px;
   border: 1px dashed #888;
   }   
.dropped {
   background-color: #EBC;
   border-color: #B89;
   }  